################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CleanBase.Core.Api/bin
/CleanBase.Core.Api/obj
